@charset "UTF-8";
.acomname{
  width: 500;
  height: 160px;
  flex-grow: 0;
  margin: 0 0 7px;
  border-radius: 30px;
  background-color: #c4b0ff;
 
}
.acomcheckin {
	display: inline-block;
  width: 500px;
  height: 40px;
  flex-grow: 1;
  margin: 10px 20px 0 0;
  border-radius: 20px;
  background-color: #c4b0ff;
}
.acomcheckout {
	display: inline-block;
  width: 500px;
  height: 40px;
  flex-grow: 1;
  margin: 7px 0 0 14px;
  border-radius: 20px;
  background-color: #c4b0ff;
}
.people {/*인원수*/
	display: inline-block;
  width: 400px;
  height:40px;
  flex-grow: 1;
  margin: 7px 14px 0 0 ;
  border-radius: 20px;
  background-color: #c4b0ff;
}
.acomimage1{/*가장큰 이미지 */
display: inline-block;
flex-grow: 1;
  width: 600px;
  height: 160px;
  margin: 14px 14px 13px 0;
  border-radius: 30px;
  background-position:100% 100%;
  background-repeat: no-repeat;
  
}
.acomimage1 img{
			width:100%;
		height:100%;
	  object-fit: scale-down;
}



.acomimage2{/*두번째로 큰 이미지 */
flex-grow: 1;
display: inline-block;
  width: 345px;
  height: 160px;
  margin: 14px 11px 13px 14px;
  border-radius: 30px;
  
}
.acomimage2>img{
		width:100%;
		height:100%;
	  object-fit: scale-down;
}

.acomimage3{/*세번째로 큰 이미지 */
flex-grow: 1;
display: inline-block;
  width: 345px;
  height: 160px;
  
  border-radius: 30px;

}
.plusimage{/* 이미지 더보기*/
flex-grow: 1;
display: inline-block;
	width:290px;
	height: 160px;
	margin: 14px 5px 13px 11px;
 	border-radius: 30px;
    background-color: #c4b0ff;
}
.roomservice {/*숙소 내 인기시설 */
display: inline-block;
  width: 1000px;
  height: 160px;
  margin: 13px 12px 13px 0;
  border-radius: 30px;
  background-color: #c4b0ff;
}
.review {/*사용자 평점*/
display: inline-block;
  width: 173px;
  height: 160px;
  margin: 14px 11px 13px 12px;
  border-radius: 30px;
  background-color: #c4b0ff;
}
.location {/*구글 지도로 보기*/
display: inline-block;
  width: 350px;
  height: 160px;
  margin: 14px 0 12px 11px;
  border-radius: 30px;
    background-color: #c4b0ff;
}

/*ㄴㄴㄴ*/

