<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tripreview.mapper.TripReviewMapper">
	<select id="getAllList" resultType="TripReviewVO" >
  		select review_num, user_id, view_count, review_title, created_at
  		from review_test
  	</select>
  	
  	<select id="getOneReview" parameterType="int" resultType="TripReviewVO">
  		select * 
  		from review_test 
  		where review_num=#{review_num}
  	</select>
  	
  	<insert id="insertReview" parameterType="TripReviewVO">
  		insert into review_test (review_title, user_id)
  		values (#{review_title}, #{user_id})  	
  	</insert>

</mapper>
