<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tripreview.mapper.TripReviewMapper">
	<select id="getAllList" resultType="TripReviewVO" >
  		select *
  		from trip_review
  		order by review_num desc
  	</select>
  	
  	<select id="getOneReview" parameterType="int" resultType="TripReviewVO">
  		select * 
  		from trip_review 
  		where review_num=#{review_num}
  	</select>
  	
  	<insert id="insertReview" parameterType="TripReviewVO">
  		insert into trip_review (review_title, user_id, wwhere, wwhen1, wwhen2, wwith, expence, contents)
  		values (#{review_title}, #{user_id}, #{wwhere}, #{wwhen1}, #{wwhen2}, #{wwith}, #{expence}, #{contents})  	
  	</insert>
  	
  	<delete id="deleteReview" parameterType="int">
  		delete from trip_review
		where review_num = #{review_num}
  	</delete>
  	
  	<update id="modifyReviewComplete" parameterType="TripReviewVO">
  		update trip_review
 		set review_title = #{review_title},
 			user_id = #{user_id},
 			wwhere = #{wwhere},
 			wwhen1 = #{wwhen1},
 			wwhen2 = #{wwhen2},
 			wwith = #{wwith},
 			expence = #{expence},
 			contents = #{contents}
 		where review_num = #{review_num}
  	</update>

</mapper>
