@charset "UTF-8";

body {
	background: linear-gradient(to bottom, #fddfdf, #ffffd8, #e0fefe);
	display: flex;
	flex-direction: column;
	justify-content: center; 
	align-items: center;
}

#header {
	margin:10px;
	border: 2px solid red;
}

#wrap {
	margin-top:0px;
}
#page-wrap {
	display: flex;
	flex-direction: column;
	justify-content: center; 
	align-items: center;
}

#slideshow-container {
	/* Automatically adjust the height while maintaining the aspect ratio */
	margin: 0 auto; /* Center the container horizontally */
	justify-content: space-between; /* Distribute images evenly */
	display: flex;
	padding: 10px;
}

.contents-container {
	display: flex;
	flex-direction: row;
	overflow: auto;
}

.slideshow-img {
	width: 100%;
	height: 100%;
	/* object-fit: contain; */
	object-fit: cover;
}

#wrap>div {
	margin: 5px;
	width: 1200px;
	margin-top: 30px;
	margin-bottom: 30px;
	padding-top: 15px;
	/* background: linear-gradient(to bottom, #fddfdf ,#ffb6c1, #87ceeb); */
}

.img-wrapper {
	border-radius: 4px;
	/* margin-bottom: 10px; */
	width: 100%;
	height: 10rem;
	display: flex;
	flex-direction: column;
	flex-basis: 15em;
	overflow: hidden;
	object-fit: cover;
}

.post-wrapper {
	border: 2px solid silver;
	margin: 0.5rem;
	background-color: 'red';
	/* background-color:#DDFFFF; */
	/* background-color: #FFFFDD; */
	color: black;
	width: 200px !important;
	max-width: 200px !important;
	height: 350px !important;
}

.card-body {
	padding: 0 !important;
	margin-top: 5px;
	display: flex;
	flex-direction: column;
	height: 170px;
}

.detail-btn {
	margin-top: auto;
	justify-content: flex-end;
}

.post-wrapper {
	display: inline-block;
	vertical-align: top;
	margin-right: 10px;
	margin-bottom: 10px;
	background-color: white;
	border: 5px solid white;
}

.title {
	font-size: 2em;
}

.card-writer {
	margin-top: 0px;
	margin-bottom: 10px;
}

.slide-btn {
	font-size: 50px !important;
	margin: 1px !important;
	padding: 1px !important;
	border-radius: 20px !important;
}

.slide-btn:hover {
	background-color: 'black';
	color: 'white';
}

/*  */
#food {
	background-color: #f78585;
	border-radius: 20px;
	margin-top:10px !important;
}

#attraction {
	background-color: #c2c605;
	border-radius: 20px;
}

#photospot {
	background-color: #218ea8;
	border-radius: 20px;
}

.section-title {
	text-align: center;
	color: white;
	font-weight: bold;
}

.card-title {
	white-space: nowrap;
	text-overflow: ellipsis;
	margin-bottom: 0 !important;
}

.photospot_card-text {
	display: block;
	color: black;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal;
	text-align: left;
	word-wrap: break-word;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

/* modal 스타일 ----------- */
#addPostModal-btn {
	float: left;
}

#PostModalBtn-div {
	width:98%;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
	
}

.modal-dialog {
	margin: 1% auto;
}

.modal-content {
	background-color: #fefefe;
	padding: 20px;
	border: 1px solid #888;
	border-radius: 1rem !important;
}

.modal-header {
	padding: 10px;
	border-bottom: 1px solid #ddd;
}

.modal-title {
	margin: 0;
}

.modal-body {
	width: 100%;
}

.modal-footer {
	padding: 10px;
	border-top: 1px solid #ddd;
	text-align: right;
}

.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover, .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}