@charset "UTF-8";

body {
	background: linear-gradient(to bottom, #ffb6c1, #87ceeb);
}

#slideshow-container {
	/* Automatically adjust the height while maintaining the aspect ratio */
	margin: 0 auto; /* Center the container horizontally */
	justify-content: space-between; /* Distribute images evenly */
	display: flex;
	border-style: solid;
	border-width: 0.5em;
	border-color: orange;
	padding: 10px;
}

.contents-container {
	display: flex;
	flex-direction: row;
	overflow: auto;
}

.slideshow-img {
	width: 100%;
	height: 100%;
	/* object-fit: contain; */
	object-fit: cover;
}

#wrap>div {
	border-style: solid;
	border-width: 0.5em;
	border-color: green;
	margin: 1em;
}

.img-wrapper {
	width: 100%;
	height: 10rem;
	display: flex;
	flex-direction: column;
	flex-basis: 15em;
	overflow: hidden;
	object-fit: cover;
}

.post-wrapper {
	border: 2px solid silver;
	margin: 0.5rem;
	/* background-color:#DDFFFF; */
	background-color: #FFFFDD;
	color: black;
}

.title {
	font-size: 2em;
}

.modal {
	display: none;
	/* position: fixed; */
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 50%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 500px !important;
}

.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover, .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}