<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
   <!-- typeAlias 타입 별칭 설정 =============================== -->
   <typeAliases>
      <typeAlias type="com.board.model.PostVO" alias="PostVO"/>
      <typeAlias type="com.tripreview.vo.TripReviewVO" alias="TripReviewVO"/>
      <typeAlias type="com.schedule.db.EtcVO" alias="EtcVO"/>
      <typeAlias type="com.schedule.db.FixVO" alias="FixVO"/>
      <typeAlias type="com.schedule.db.ScheduleListVO" alias="ScheduleListVO"/>
   </typeAliases>
   
   <!-- mapper 정의 ========================================== -->
   <mappers>
      <!-- SQL문을 모아놓은 파일 -->
      <mapper resource="config/mybatis/mapper/PostMapper.xml" />
      <mapper resource="com/tripreview/mapper/TripReviewMapper.xml" />
      <mapper resource="config/schedule/EtcMapper.xml"></mapper>
      <mapper resource="config/schedule/FixMapper.xml"></mapper>
      <mapper resource="config/schedule/ScheduleMapper.xml"></mapper>
   </mappers>
</configuration>