<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.board.mapper.PostMapper">
	<sql id="post_columns">
		writer, uploadedDate, country, city, category, title, content, imgUrls
	</sql>
	
	<insert id="createPost">
		INSERT INTO board_post (<include refid="post_columns"/>)
		VALUES (#{writer}, NOW(), #{country}, #{city}, #{category}, #{title}, #{content}, #{imgUrls})
	</insert>
	
	<select id="getFilteredPosts" resultType="PostVO">
		SELECT * FROM board_post
		<where>
			<if test="category != null and category != ''">
				AND category = #{category}
			</if>
			<if test="country != null and country != ''">
				AND country = #{country}
			</if>
			<if test="city != null and city != ''">
				AND city = #{city}
			</if>
		</where>
		ORDER BY uploadedDate DESC
	</select>
	
	<select id="getPostById" resultType="PostVO">
		SELECT * FROM board_post
		WHERE postNo = #{postId}
		ORDER BY uploadedDate DESC
	</select>
	
	<delete id="deletePost">
		DELETE FROM board_post
		WHERE postNo = #{postNo}
	</delete>
	
	<update id="updatePost" parameterType="PostVO">
		UPDATE board_post
		SET writer = #{writer},
		 	uploadedDate = NOW(),
		  	country = #{country},
		  	city = #{city},
		   	category = #{category},
		    title = #{title},
		    content = #{content},
		    imgUrls = #{imgUrls}
		WHERE postNo = #{postNo}
	</update>
</mapper>