@charset "UTF-8";
.acomname{ /* 첫번째 블록*/
  width: 1410px;
  height: 191px;
  flex-grow: 0;
  margin: 0 0 7px;
  border-radius: 30px;
  background-color: #c4b0ff;
}
  /*체크인*/
.acomcheckin {{ /* 21 블록*/
  width: 470px;
  height: 54px;
  flex-grow: 0;
  margin: 10px 20px 0 0;
  border-radius: 20px;
  background-color: #c4b0ff;
}
/*체크아웃*/
.checkout {
  width: 491px;
  height: 57px;
  flex-grow: 0;
  margin: 7px 14px 0 20px;
  border-radius: 20px;
  background-color: #c4b0ff;
}